.MenuItem {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  background-color: #f89406;
  border: solid 1px #aa752a;
}

.SelectedItem {
  background-color: #8d590f;
}