.AnswerDescription {
  margin-top: 20px;
  align-self: stretch;
  background-color: #32383e;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 3px;
  padding: 15px;
}

.DescriptionText {
  margin-top: 20px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: justify;
}

.EmptyDescription {
  font-size: 2rem;
  line-height: 2.5rem;
}
