.Description {
  list-style: none;
}

.DescriptionItem {
  font-size: 3.2rem;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.6);
}

.SongName {
  font-size: 1.6rem;
  padding: 5px;
}

.DescriptionText {
  margin-top: 20px;
  font-size: 1.2rem;
}