.Option {
  font-size: 1.8rem;
}

.Dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #444444;
}

.Error {
  background-color: #d62c1a;
}

.Success {
  background-color: #00bc8c;
}